<tr>
  <%= form_for(record, :remote => true) do |form| %>
  <td>
    <%= form.text_field :weight, :readonly => :readonly %>
  </td>
  <td>
    <%= form.text_field :created_at, :readonly => :readonly %>
  </td>
  <% end %>
</tr>
